<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conectDatabase" providerName="Pomelo.EntityFrameworkCore.MySql" connectionString="Server=localhost;Database=barbersoft;Uid=root;Pwd=BARBERsoft2020;" />
		<add name="conectRestore" providerName="Pomelo.EntityFrameworkCore.MySql" connectionString="Server=localhost;Database=testerestore;Uid=root;Pwd=BARBERsoft2020;" />
	</connectionStrings>
</configuration>