<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conectDatabase" providerName="Pomelo.EntityFrameworkCore.MySql" connectionString="YOUR CONNECTION STRING;" />
		<add name="conectRestore" providerName="Pomelo.EntityFrameworkCore.MySql" connectionString="YOUR CONNECTION STRING;" />
	</connectionStrings>
</configuration>
